/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 

/* Change color of upper left-hand background */ 
.wy-side-nav-search {background-color: #199bd6;}

.references p {
    font-size: smaller;
    line-height: 1.2; /* Reduce line spacing (default is around 1.5-1.6) */
    margin: 5px 0; /* Reduce spacing between paragraphs or list items */
    padding: 2.5px;
  }


  