/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 


.wy-side-nav-search {
  background-color: #199bd6;
}

/* Banner specs */
.banner {
  display: flex;
  align-items: center;
  background-color: #199bd666;
  border: 1px solid #199bd6;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.banner .emoji {
  font-size: 1.5rem; /* Adjust size of the emoji */
  margin-right: 10px; /* Space between emoji and text */
}
.banner .text {
  font-size: 1rem; /* Adjust text size */
}

/* Specs for headers */ 
h1 {
    font-size: 2em;
    margin: 2 0 5px; /* space added above, left/right, and below */
    font-weight: normal;
    border-bottom: 2px solid #24AE70; /* underline color */
    padding-bottom: 5px;
  }

h2 {
font-size: 1.5em;
margin: 40px 0 5px;
font-weight: normal;
border-bottom: 2px solid #24AE70;
padding-bottom: 5px;
}    

h3 {
  font-size: 1.2em; 
  margin: 40px 0 0; 
  font-weight: normal;
  border-bottom: 2px solid #24AE70;
  padding-bottom: 5px;
  }    

/* Specs for general collapsible sections */ 
details {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #24ae7050;
  border: 1px solid #24ae70;
  border-radius: 8px;
}
details summary {
  font-size: 1rem;
  cursor: pointer;
}
details ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  line-height: 1.6;
}
details li {
  margin-bottom: 0.3rem;
}
details ul ul {
  margin-top: 0.5rem;
}
details ul ul li {
  margin-bottom: 0.3rem;
}
details li b {
  color: #199bd6;
}

  /* References section collapsible styling */
.collapsible.references {
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
details.references {
  background-color: white;
  padding: 10px;
  margin: 10px 1;
  border-radius: 5px;
}
summary.references {
  font-size: 1.5em;
  margin: 40px 0 5px;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 2px solid #24AE70;
}
details.references summary.references {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}



