/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 

/* Change color of upper left-hand background */ 
.wy-side-nav-search {background-color: #199bd6;}

/* References section */ 
.references p {
    font-size: smaller;
    line-height: 1.2; /* Reduce line spacing (default is around 1.5-1.6) */
    margin: 5px 0; /* Reduce spacing between paragraphs or list items */
    padding: 2.5px;
  }

/* Styling for dropdown menu for selecting webpage version if we want to use this instead of default flyout menu */ 
  .version-dropdown {
    margin: 10px 0;
    text-align: center;
  }
  
  #version-selector {
    padding: 5px;
    font-size: 14px;
  }

/* Styling for NBDC Lasso quick link in Data Access section */ 
.button-link {
  display: inline-block;
  background-color: #199bd666;
  color: white; /* Button text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}
.button-link:hover {
  background-color: #199bd6; /* background color on hover */
}


/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 