/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 


.gray-text {
  color: #505050;
}

/* Change color of upper left-hand background */ 
.wy-side-nav-search {background-color: #199bd6;}

.blue-text {
  color: blue;
}

/* Centering images */ 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* References section */ 
.references p {
    font-size: smaller;
    line-height: 1.2; /* Reduce line spacing (default is around 1.5-1.6) */
    margin: 5px 0; /* Reduce spacing between paragraphs or list items */
    padding: 2.5px;
  }

/* Styling for dropdown menu for selecting webpage version if we want to use this instead of default flyout menu */ 
  .version-dropdown {
    margin: 10px 0;
    text-align: center;
  }
  #version-selector {
    padding: 5px;
    font-size: 14px;
  }

/* Styling for NBDC Lasso quick link in Data Access section */ 
.button-link {
  display: inline-block;
  background-color: #24AE7066;
  color: black; /* Button text color */
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}
.button-link:hover {
  background-color: #24AE70; /* background color on hover */
}

/* Styling for click to copy */ 
/* Box styling */
.copy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9; /* Light neutral background for contrast */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 800px; /* Adjust to your layout */
  margin: 20px auto; /* Center on the page */
}
/* Text container styles */
.copy-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
/* Text span styling */
#specific-text {
  flex: 1;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
  word-wrap: break-word;
}
/* Link styling */
#specific-text a {
  color: #007bff; /* Slightly vibrant color for the link */
  text-decoration: none;
  font-weight: 500;
}
#specific-text a:hover {
  text-decoration: underline;
}
.copy-button {
  background: #007bff; 
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.copy-button:hover {
  background: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.copy-button:active {
  background: #004080;
}
