/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 

.wy-side-nav-search {
  background-color: #199bd6;
}

/* Banner specs */
.banner {
  display: flex;
  align-items: center;
  background-color: #199bd666;
  border: 1px solid #199bd6;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.banner .emoji {
  font-size: 1.5rem; /* Adjust size of the emoji */
  margin-right: 10px; /* Space between emoji and text */
}
.banner .text {
  font-size: 1rem; /* Adjust text size */
}

/* Specs for headers */ 
h1 {
    font-size: 2em;
    margin: 2 0 5px; /* space added above, left/right, and below */
    font-weight: normal;
    border-bottom: 2px solid #199bd6; /* underline color */
    padding-bottom: 5px;
  }

h2 {
font-size: 1.5em;
margin: 40px 0 5px;
font-weight: normal;
border-bottom: 2px solid #24AE70;
padding-bottom: 5px;
}    

h3 {
  font-size: 1.2em; 
  margin: 40px 0 0; 
  font-weight: normal;
  border-bottom: 2px solid #24AE70;
  padding-bottom: 5px;
  }    

/* Specs for general collapsible sections */ 
details {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #24ae7000;
  border: 0.5px solid #199bd6;
  border-radius: 8px;
}
details summary {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
details ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  line-height: 1.6;
}
details li {
  margin-bottom: 0.3rem;
}
details ul ul {
  margin-top: 0.5rem;
}
details ul ul li {
  margin-bottom: 0.3rem;
}
details li b {
  color: #0077cc;
}

  /* References section collapsible styling */
.collapsible.references {
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
details.references {
  background-color: white;
  padding: 10px;
  margin: 10px 1;
  border-radius: 5px;
}
summary.references {
  font-size: 1.5em;
  margin: 40px 0 5px;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 2px solid #24AE70;
}
details.references summary.references {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}




/* Collapsible Warning Banner */
.warning-banner {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align text and icon/button at the ends */
  background-color: rgba(255, 251, 0, 0.705);
  border: 1px solid #be074c;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #333333; /* Darker text color for readability */
  cursor: pointer; /* Indicate it's clickable */
}
.warning-banner .emoji {
  font-size: 1.5rem; 
  margin-right: 10px;
  color: red;
}
.warning-banner .text {
  font-size: 1.2rem; /* Adjust text size */
  font-weight: bold; /* Emphasize warning text */
}
/* Collapsible content */
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #fff;
  border: 1px solid #be074c;
  border-top: none; /* Remove top border to connect with banner */
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
}

.collapsible-content.open {
  max-height: none;
}
.arrow {
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  display: inline-block;
  transform-origin: center;
  color: #333;
}

/* Rotate the arrow when expanded */
.arrow.rotate {
  transform: rotate(90deg); /* Point downward */
}









/* Collapsible RDU Alert Banner */
.alert-banner {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align text and icon/button at the ends */
  background-color: #be074d3d; 
  border: 1px solid #be074c; 
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #333333; /* Darker text color for readability */
  cursor: pointer; /* Indicate it's clickable */
}
.alert-banner .emoji {
  font-size: 1.5rem; 
  margin-right: 10px;
  color: red;
}
.alert-banner .text {
  font-size: 1.2rem; /* Adjust text size */
  font-weight: bold; /* Emphasize warning text */
}
/* Collapsible content */
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #fff;
  border: 1px solid #be074c;
  border-top: none; /* Remove top border to connect with banner */
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
}

.collapsible-content.open {
  max-height: none;
}
.arrow {
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  display: inline-block;
  transform-origin: center;
  color: #333;
}

/* Rotate the arrow when expanded */
.arrow.rotate {
  transform: rotate(90deg); /* Point downward */
}